# RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASS=your_rabbitmq_password
HEARTBEAT=600
BLOCK_CONNECTION_TIMEOUT=300
CONNECTION_ATTEMPTS=3
RETRY_DELAY=5
SOCKET_TIMEOUT=10

# RabbitMQ Default Credentials (used by Docker container)
RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password

# Container Names
RABBITMQ_CONTAINER_NAME=rabbitmq_container
FASTAPI_CONTAINER_NAME=fastapi_container
USER_WORKER_CONTAINER_NAME=user_worker_container
ORDER_WORKER_CONTAINER_NAME=order_worker_container
CREATED_WORKER_CONTAINER_NAME=created_worker_container
ERROR_WORKER_CONTAINER_NAME=error_worker_container

