# RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASS=your_rabbitmq_password
HEARTBEAT=600
BLOCK_CONNECTION_TIMEOUT=300
CONNECTION_ATTEMPTS=3
RETRY_DELAY=5
SOCKET_TIMEOUT=10

# RabbitMQ Default Credentials (used by Docker container)
RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password

# Container Names
RABBITMQ_CONTAINER_NAME=rabbitmq_container
FASTAPI_CONTAINER_NAME=fastapi_container
FINANCE_WORKER_CONTAINER_NAME=finance_worker_container
HIGH_PRIORITY_FINANCE_WORKER_CONTAINER_NAME=high_priority_finance_worker_container
HR_WORKER_CONTAINER_NAME=hr_worker_container



