# RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASS=your_rabbitmq_password

HEARTBEAT=600
BLOCKED_CONNECTION_TIMEOUT=300
CONNECTION_ATTEMPTS=3
RETRY_DELAY=5
SOCKET_TIMEOUT=10


# RabbitMQ Default Credentials (used by Docker container)
RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password

# Queue Name
WORK_QUEUE_NAME=task_queue


# Container Names
RABBITMQ_CONTAINER_NAME=rabbitmq_container
FASTAPI_CONTAINER_NAME=fastapi_container
WORKER1_CONTAINER_NAME=worker1_container
WORKER2_CONTAINER_NAME=worker2_container
WORKER3_CONTAINER_NAME=worker3_container






