# RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASS=your_rabbitmq_password

HEARTBEAT=600
BLOCKED_CONNECTION_TIMEOUT=300
CONNECTION_ATTEMPTS=3
RETRY_DELAY=5
SOCKET_TIMEOUT=10


# RabbitMQ Default Credentials
RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password


# Persistence Experiment Queues
NON_DURABLE_TRANSIENT_QUEUE=p07.non_durable.transient
NON_DURABLE_PERSISTENT_QUEUE=p07.non_durable.persistent
DURABLE_TRANSIENT_QUEUE=p07.durable.transient
DURABLE_PERSISTENT_QUEUE=p07.durable.persistent


# Worker
HANDLER_NAME=Persistence-Handler


# Container Names
RABBITMQ_CONTAINER_NAME=rabbitmq_container
FASTAPI_CONTAINER_NAME=fastapi_container
WORKER_CONTAINER_NAME=worker_container

